@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --inter-font-family: "Inter", sans-serif;
}

.inter-bold {
  font-family: var(--inter-font-family);
  font-weight: 700;
}

.inter-semibold {
  font-family: var(--inter-font-family);
  font-weight: 600;
}

.inter-medium {
  font-family: var(--inter-font-family);
  font-weight: 500;
}

.inter-regular {
  font-family: var(--inter-font-family);
  font-weight: 400;
}

.inter-light {
  font-family: var(--inter-font-family);
  font-weight: 300;
}
